@media screen and (min-width: 590px) {
    .consultas {
        margin-right: 0;
    }

    .consultas__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .consultas__card {
        flex-grow: 1;
        margin-right: 1rem;
        max-width: calc(50% - 1rem);
    }
}

@media screen and (min-width: 874px) {
    :root {
        font-size: 110%;
    }

    .cabecalho-e-principal {
        margin-left: 4.5rem;
    }

    .consultas {
        margin-bottom: 0;
    }

    .consultas__card {
        max-width: calc(33% - 1rem);
    }

    .agendamento {
        display: flex;
    }

    .rodape {
        left: 0;
        height: 100vh;
        min-width: 0;
        top: 0;
        width: 5rem;
    }

    .rodape__botoes {
        display: none
    }

    .rodape__acoes {
        border-radius: 0;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 0;
        width: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        font-size: 150%;
    }
}