:root {
    --ativo: #4894FF;
    --borda-cabecalho: gray;
    --borda-input: #ECECEC;
    --botao-endereco: #4894FF;
    --botao-video: #FFB050;
    --botao-rodape: #4894FF;
    --fonte-botao-clara: #FFFFFF;
    --fonte-botao-escura: #000000;
    --fonte-leve: #A3A3A3;
    --fundo-agendamento: #FFFFFF;
    --fundo-cabecalho: #F6F6F6;
    --fundo-card: #FFFFFF;
    --fundo-corpo: #F6F6F6;
    --invalido: red;

    min-width: 280px;
    max-width: 2600px;
}

body {
    background-color: var(--fundo-corpo);
    font-family: 'Montserrat', sans-serif;
}

.mascara {
    display: none;
    background: black;
    opacity: 0.4;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.aberto {
    display: flex;
}